service: ais-api

package:
  patterns:
    - "!test.js"
    - "!test-*.js"
    - "!*.test.js"
    - "!tests/**"
    - "!coverage/**"
    - "!docs/**"
    - "!*.md"

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-3
  stage: ${opt:stage, 'dev'}
  timeout: 25
  memorySize: 512
  logs:
    httpApi: false  # Disable HTTP API access logs
  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Requested-With
        - keypublic
        - keyprivate
      allowedMethods:
        - POST
        - OPTIONS
        - GET

functions:
  token:
    handler: Handlers/token.createToken
    events:
      - httpApi:
          path: /token
          method: post
  customerRead:
    handler: Handlers/customerRead.customerRead
    events:
      - httpApi:
          path: /customerRead
          method: post
  invoiceRead:
    handler: Handlers/invoiceRead.invoiceRead
    events:
      - httpApi:
          path: /invoiceRead
          method: post
  customerWrite:
    handler: Handlers/customerWrite.customerWrite
    events:
      - httpApi:
          path: /customerWrite
          method: post